.facultyInfo{
    border:1px solid #ddd;
    padding:10px;
    font-size:13px;
    background-color:rgba(200,200,200,.1);
}
.facultyData{
    font-size:12px;
    font-weight: 600;
}
.facultyInfo > div > div{
    padding:15px;
}