*{
	margin:0px;
	padding:0px;
}
h1{
	font:bold 20px Tahoma;
}
h2{
	font:bold 14px Tahoma;
}
header,section,footer,aside,article,nav,hgroup{
	display:block;
}
body{
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
}
#big_wrapper{
	max-width: 1000px;
	margin: 20px 0px;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex: 1;
}
#top_header{
	background: yellow;
	border: 3px solid #000;
	padding: 20px;
}
#top_menu{
	border:red;
	background:blue;
	color:#fff;
}
#top_menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px Tahoma;
}
#new_div{
	display: -webkit-box;
	-webkit-box-orient:horizontal;
}
#main_section{
	border: 1px solid blue;
	-webkit-box-flex: 1 ;
	margin:20px;
	padding:20px;
}
#side_news{
	border: 1px solid red;
	width: 220px;
	margin: 20px 0px;
	padding: 30px;
	background: #66cccc;
}
#the_footer{
	text-align: center;
	padding: 20px;
	border-top: 2px solid green;
}
/*fist design*/
/*body{
	text-align: center;
}
#big_wrapper{
	border: 1px solid #000;
	width: 90%;
	margin: 20px auto;
	text-align: left;
}
#top_header{
	background:yellow;
	border: 1px solid blue;
	padding: 20px;
}
#top_menu{
	background:blue;
	color:#fff;
}
#top_menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px Tahoma;
}
#main_section{
	float: left;
	width: 66%;
	margin: 30px;
}
#side_news{
	float:left;
	width: 22%;
	margin: 20px 0;
	padding: 30px;
	background: #66cccc;
}
#the_footer{
	clear:both;
	text-align: center;
	padding:20px;
	border-top:2px solid green;
}
article{
	background-color: #fffbcc;
	border: 1px solid red;
	padding: 20px;
	margin-bottom:15px;
}
article footer{
	text-align: right;
}*/