#mommy{
	width: 700px;
	border: 2px solid blue;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	height:300px;
	-webkit-box-align:stretch;
}
#kid1{
	border: 2px solid red;
	background: green;
	padding:20px;
	margin:10px;
	-webkit-box-flex:1;
}
#kid2{
	border: 2px solid red;
	background: yellow;
	padding:20px;
	margin:10px;
	-webkit-box-flex:2;
}
#kid3{
	border: 2px solid red;
	background: red;
	padding:20px;
	margin:10px;
	-webkit-box-flex:1;
}
#kid4{
	border: 2px solid red;
	background: orange;
	padding:20px;
	margin:10px;
	-webkit-box-flex:1;
}