
#controlList{
    background-color:#eee;
    padding:5px;
    text-align: center;
}
#controlList>ul>li{
    border-bottom: 1px solid #ddd;
    padding:0;
    line-height: 1px;
}
#controlList>ul>li .active{
    border:1px solid cornflowerblue;
}
#controlForm{
    background-color:#fff;
    min-height: 500px;
    padding:5px;
}
.formBody{
    background-color:#eee;
}
.quizType{
    height: 30px;
    width:auto;
    border-radius:5px;
    font-size: 13px;
}
.quizPoints{
    height:30px;
    width:50px;
    border-radius: 5px;s
    font-size: 13px;
}
.quizText{
    font-size: 13px;
}
.deleteBtn{
    height:30px;
    border-radius: 5px;
    border:1px solid #d9534f;
    outline: none;
    font-size: 13px;
}
.helpBtn{
    background-color:darkgray;
    border-radius: 50%;
    padding:0 6px 0 5px;
    margin-left: 2px;
}
.quizTextarea{
    min-height: 70px !important;
    border:2px solid orange !important;
}
.aboutTextarea{
    min-height: 70px !important;
}
.quizChoices{
    border:2px solid green !important;
}
.fillAns{
    width:100px;
    font-size: 13px;
    height: 30px;
    border:1px solid green;
}
.selectText{
    text-align: center;
    padding-top: 100px;
    text-shadow: 2px 0px 10px #000;
    color:#fff;
}
.empty{
    border:2px solid red !important;
}
.emptyList{
    color:red !important;
}