/* Styles */
html,
body{
    height: 100%;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-repeat: no-repeat;
    color:#556473;
    font-size: 12px;
    
}
html{
    background:#fff1eb;
}
td{
    outline: none;
}

@-webkit-keyframes bugfix {
    from {
        padding: 0
    }
    to {
        padding: 0
    }
}

/*sidenav*/
#admin_nav{
    list-style: none;
    background: #005361;
    padding: 0;
}
.headerRow{
    padding:0;
    margin: -18px -40px 10px -40px;
}
.headerBackground{
    background-color:dimgray;
    padding:5px 0 0 15px;
}
.headerColor{
    color:whitesmoke;
}

/*profile card*/
.profileEdit{
    position:absolute;
    text-align;margin:3px 5px;
    display:none;
}
.profileCard:hover > .profileEdit{
    display:block;
}

/*manage card*/
.manageBlock{
    padding:5px;
}
.manageList{
    padding:0;
    margin:0;
    list-style: none;
    font-size:1vw;
}
.manageList > li{
    padding: 5px 0;
    border:1px solid #fff;
}
.manageList > li > a{
    padding:0;
    margin:0;
    text-decoration: none;
    color:inherit;
}
.manageList > li:hover{
    background-color:aquamarine;
    border: 1px solid aquamarine;
}
.faCustom{
    position:absolute;
    margin-left:2px;
    margin-top:-4px;
}

/*general css*/
#facultyTable tbody tr {
    cursor: pointer;
}
.editLink{
    font-size:12px;
}
.editLink:hover{
    color:red;
    text-decoration: none;
}
.editLink:focus{
    color:red;
    text-decoration: none;
}
/*checkbox*/
input[type=radio].css-checkbox {
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}

input[type=radio].css-checkbox + label.css-label1 {
    padding-left:24px;
    height:19px; 
    display:inline-block;
    line-height:19px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:16px;
    vertical-align:middle;
    cursor:pointer;

}

input[type=radio].css-checkbox:checked + label.css-label1 {
    background-position: 0 -19px;
}
label.css-label1 {
background-image:url('../img/icon.png');
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none
}
.card-title{
    font-size: 18px;
}
.btn{
    padding:5px 10px;
}
.form-control{
    padding:5px;
    font-size:12px;
}
